<div class="widget-editorial widget">
	<h3 class="widget__title">Caltech wants to hear your perspective!</h3>
	<div class="widget__content">
		We strive to represent every voice in the Caltech Community with fairness, accuracy, and impartiality in our news reporting. If you think we missed something, or just want to share your thoughts about a topic we’ve reported on, I encourage you to submit a Letter to the Editor!
		Send submissions or contact the Tech at <a class="widget__link2" href="mailto:tech@caltech.edu">tech@caltech.edu</a> or <a class="widget__link2" href="https://discord.gg/Zaah8749s2">on our Discord server</a>.
		Submissions are due at 12 p.m. on the Saturday before each biweekly Tuesday publication.
	</div>
</div>