<div class="widget-write-for-the-tech widget">
	<h3 class="widget__title">Writers and Artists Wanted!</h3>
	<div class="widget__content">
		Columnists and Reporter positions are open for all sections!
		<li>Campus</li>
		<li>Opinion</li>
		<li>Humor</li>
		<li>Art</li>
		<li>Photography</li>
		<li>Comics</li>
		<li>Cliture</li>
		<li>Sports</li>
		<li>World</li>
		<li>Science</li>
		Email submissions to <a class="widget__link2" href="mailto:tech@caltech.edu">tech@caltech.edu</a> or <a class="widget__link2" href="https://discord.gg/Zaah8749s2">join our Discord server</a> and message the editors.
	</div>
</div>