<article class="list__item post">
	{{ partial "post_thumbnail.html" (dict "class" "list" "page" .) }}
	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" rel="bookmark" {{ if eq .Title "Read Our Latest Issue" }}class="latest-issue"{{ end }}>
			{{ .Title }}
			</a>
		</h2>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "list_post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ if ne .Title "Read Our Latest Issue" }}
		{{ .Summary }}
		{{ else }}
			{{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $tags := .Params.tags }}
			{{ if in $tags "Vol. CXXVI, Issue 5" }}
			<li class="widget__item">
				<a style="color:#343a40" href="{{ .RelPermalink }}">{{ .Title }}</a><br>
			</li>
			{{ end }}
			{{ end }}
		{{ end }}
	</div>
	
</article>