<div class="logo logo--mixed">
	<a class="logo__link" href="{{ "" | relLangURL }}"{{ with .Site.Title }} title="{{ . }}"{{ end }} rel="home">
		<img src="{{ "tech-fancy.svg" | relURL }}" alt="{{ .Site.Title }}" class="logo__img">
  </a>
</div>
<div class="banner">
  <p class="banner--item banner--hide">Vol. CXXVI</p>
  <p class="banner--item banner--hide">Pasadena, CA</p>
  <p class="banner--item">{{ now.Format "Monday, January 2, 2006"}}</p>
  <a href="mailto:tech@caltech.edu" class="banner--item banner--hide">tech@caltech.edu</a>
</div>
